.App {
  text-align: center;
}

.read-along-div {
  height: 60vh;
  width: 100%;
}

.read-along-video {
  height: 60vh;
}

.final-video {
  height: 60vh;
}

.video-div {
  height: 60vh;
  width: fit-content;
  display: inline-block;
  position: relative;
}

.loading-div {
  height: 60vh;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.loading-text {
  /* position: absolute;  */
  text-align: center;
  color: white;
}

.finalize-instruct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* left: 0;
  right: 0; */
  visibility: hidden;
  /* margin-left: auto;
  margin-right: auto; */
}
